body {
font-family: "SofiaSansExtraCondenset";
src: url("../fonts/Sofia_Sans_Extra_Condensed/SofiaSansExtraCondensed-Italic-VariableFont_wght.ttf");
      background-color: #AA0004; 
    color: white;
    text-align: center; 
    
  }